table {
  td {
    width: 4vh;
    height: 4vh;
    background-color: azure;
    transition: background-color 1s cubic-bezier(.2, 1.01, .51, .87);

    &.dist-0 {
      background-color: aqua;
    }

    &.dist-1 {
      background-color: aquamarine;
    }

    &.dist-2 {
      background-color: aliceblue;
    }

  }
}